# Ignore dependencies and stuff idk
pkg/
src/
djgpp/
watcom/
bin/src/
bin/pkg/
build/
wrappers/3dfx/build
wrappers/mesa/build
*iso
*qcw
*qcow
*qcow2
install/
install_dir/
build-timestamp.txt
version.txt

# Ignore versions of qemu src
qemu-9*
qemu-8*
qemu-7*
qemu-6*

# Wrappers & ISO folders 
wrappers/iso/commit\ id.txt
wrappers/iso/readme.txt
wrappers/iso/license.txt
wrappers/iso/wrapgl
wrappers/iso/wrapfx
wrappers/iso/drivers
wrappers/iso/win32
wrappers/iso/win64
wrappers.iso

# Zip folders
*tar
*tar.bz2
*tar.xz
*tar.zst
*zip
*7z

# Stuff not yet ready
gamepad.patch
qemu-2
wrappers/wine/